.search-container{
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search-input{
    width: 90%;
    height: 100%;
}
.search-anchor{
width: 5%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}