@defer (on timer(2000ms)) {


<section class="h-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-10 col-xl-8">
          <div class="card" style="border-radius: 10px;">
            <div class="card-header px-4 py-5">
              <h5 class="text-muted mb-0">All Orders.. !</h5>
            </div>
            
            <div class="card-body p-4 mb-3">
              @if(allOrders){
                @for (item of allOrders; track $index) {
              <div class="card shadow-0 border mb-4">
                <div class="card-body">
                  <div class="row d-flex justify-content-evenly">
                    <div class="col-md-2">
                      <img src="../../assets/Images/ticket2.jpeg"
                        class="img-fluid" alt="Phone">
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0">{{item.date}}</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">{{item.countOfTickets}} * Ticket </p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">{{item.totalPrice}} LE</p>
                    </div>
                    
                   
                  </div>
                  <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                  <div class="row d-flex align-items-center">
                    
                    <div class="col-md-10 m-auto">
                      <div class="progress" style="height: 6px; border-radius: 16px;">
                        <div class="progress-bar" role="progressbar"
                          style="width: 65%; border-radius: 16px; background-color: #a8729a;" aria-valuenow="1"
                          ></div>
                      </div>
                      <div class="d-flex justify-content-around mb-1">
                       
                        <p class="text-muted mt-1 mb-0 small ms-xl-5">Accepted</p>
                      </div>
                    </div>
                  </div>
                  <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                  <div class="d-flex justify-content-evenly pt-2">
                    <p class="fw-bold mb-0 ms-3">OrderID</p>
                    <p class="text-muted mb-0 ">{{item._id}}</p>

                  </div>
  
      
                  
                </div>
              </div>
             
            }
          }





            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
}@placeholder {
  <div class="spinner">
    <div class="spinner-border text-success" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
}