<!-- <app-second-login-page></app-second-login-page> -->
<!-- <app-user-header-links></app-user-header-links> -->
<!-- <app-guest-header-links></app-guest-header-links> -->
<!-- <app-reg-login></app-reg-login> -->

<!-- <app-guest-header-links></app-guest-header-links> -->

<!-- <div class="justify-content-center">
    <app-categories></app-categories>
    <app-events></app-events>
    <app-promotion-events></app-promotion-events>
    <app-reviews></app-reviews>
</div> -->

<!-- <app-home-page></app-home-page> -->
<!-- <app-cart></app-cart> -->
<!-- <app-payment></app-payment> -->
<!-- <app-event-details></app-event-details> -->

<!-- <app-try></app-try> -->
<!-- <app-home-page></app-home-page> -->

<app-reg-login></app-reg-login>

<!-- <router-outlet></router-outlet> -->
