<!-- <app-second-login-page></app-second-login-page> -->
<!-- <app-reg-login></app-reg-login> -->

<!-- <app-guest-header-links></app-guest-header-links>  -->
<!-- <app-user-header-links></app-user-header-links> -->

<!-- <div class="justify-content-center">
    <app-categories></app-categories>
    <app-reviews></app-reviews>
</div> -->

<!-- <app-home-page></app-home-page> -->
<!-- <app-cart></app-cart> -->
<!-- <app-payment></app-payment> -->
<!-- <app-event-details></app-event-details> -->

<!-- <app-try></app-try> -->
<!-- <app-home-page></app-home-page> -->

<!-- <app-reg-login></app-reg-login> -->


<!-- <app-admin-show-orders></app-admin-show-orders> -->
<router-outlet></router-outlet>
<!-- <app-footer></app-footer> -->
<!-- <app-intro></app-intro> -->
<!-- <app-admin-home></app-admin-home> -->
<!-- <app-admin-all-events></app-admin-all-events> -->
<!-- <app-profile></app-profile> -->


<!-- <app-all-events></app-all-events> -->
<!-- <app-profile></app-profile> -->
