<div class="container-fluid d-flex flex-column">
    <div class="row imgTop">
        <img src="../../assets/Images/large-393.jpg" >
    </div>
    <div class="row m-2" style="height: 75vh;">
        <div class="d-flex col-8 flex-column bg-secondary">
            <div class="d-flex justify-content-between align-items-center">
                <h4>Event Name</h4>
                <h6>Date and Location</h6>
            </div>
            <div>Organizer</div>
            <div>Performer</div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, asperiores non iusto magni quas eaque mollitia explicabo blanditiis eligendi necessitatibus doloribus adipisci quaerat nulla neque numquam harum sequi ullam beatae!</p>
        </div>
        <div class="col-4 bg-primary ">
        </div>
    </div>
    <div class="row">
        <app-reviews></app-reviews>
    </div>
</div>
