<div>
    <img class="card-img-top" src="../../assets/Images/large-393.jpg" >
</div>

<div class="container-fluid d-flex flex-column">

    <div class="d-flex row m-2 flex-xs-column flex-md-row">
        <div class="d-flex col-8 flex-column xsmallRow" style="height: 75vh;">
            <div class="d-flex justify-content-between align-items-center">
                <h4>Event Name</h4>
                <h6>Date and Location</h6>
            </div>
            <div>Organizer</div>
            <div>Performer</div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, asperiores non iusto magni quas
                eaque mollitia explicabo blanditiis eligendi necessitatibus doloribus adipisci quaerat nulla neque
                numquam harum sequi ullam beatae!</p>
        </div>
        <div class="col-4 xsmallRow">
            <app-add-to-cart></app-add-to-cart>
        </div>

        <div class="row">
            <app-reviews></app-reviews>
        </div>
    </div>

    <!-- style="height: 75vh; -->