
@if (tokenFlag) {

<div class="header-container">
    <app-user-header-links></app-user-header-links>
</div>
}
@else {
<div class="header-container">
    <app-guest-header-links></app-guest-header-links>
</div>
}

<div class="parent">
    <div class="title">
        <h1>Who Are We?</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa sunt laudantium ea nesciunt vitae illo sed ducimus doloremque ut aspernatur quod alias neque, harum commodi. Voluptatem facere reiciendis cum sed?
        </p>
    </div>
    <div class="item">
        <div class="content">
            <h3>Gomhoreya Theatre</h3>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni, nam asperiores consequatur dolores cumque incidunt at aliquam quaerat repudiandae autem mollitia fugiat nisi aspernatur expedita ut! Et ipsa officia odit?
            </p>
        </div>
        <div class="image">
            <img src="../../assets/Images/gomhoreya theatre.jpeg">
        </div>
    </div>
    <div class="item">

        <div class="image">
            <img src="../../assets/Images/sayed darwish theatre.jpg">
        </div>
        <div class="content">
            <h3>Sayed Darwish Theatre</h3>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni, nam asperiores consequatur dolores cumque incidunt at aliquam quaerat repudiandae autem mollitia fugiat nisi aspernatur expedita ut! Et ipsa officia odit?
            </p>
        </div>
       
    </div>
    <div class="item">

        <div class="content">
            <h3>Opera</h3>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni, nam asperiores consequatur dolores cumque incidunt at aliquam quaerat repudiandae autem mollitia fugiat nisi aspernatur expedita ut! Et ipsa officia odit?
            </p>
        </div>
       
        <div class="image">
            <img src="../../assets/Images/opera.jpg">
        </div>
    </div>
    <app-add-review></app-add-review>
    <app-footer></app-footer>
</div>

