.header{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    /* background-color: rgb(135, 177, 178); */
}
.parent{
    width: 100%;
}
.headCol{
    display: flex;
    flex-direction: column;
    align-items: start;
    /* justify-content: start; */
    width: 70%;
    margin: 20px;
        background-image: url("../../assets/Images/22.jpeg");
        background-size: cover;

}
.header-image{
    width: 30%;
    height: 100%;
}
h1{
    margin-left: 20%;
    color: rgb(47, 46, 46);
}
.prt1{
    margin-top: 4%;
    height: 25vh;
    display: flex;
    padding: 4%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: url("../../assets/Images/22.jpeg"); */
    background-size: cover;

}
.prt2{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-size: cover;
}
.imgLine{
  width: 90%;
    display: flex;
    height: 100%;
    justify-content: space-evenly;

}
.imgCard{
    margin-top: 3%;
    width: 20%;
    height: 65%;
    border: solid 0.5px gray;
    border-radius: 10px;
}
h3{
    margin-left: 15%;
}
p{
    margin: 3%;
}
.prt3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom:30px ;
    /* height: 30vh; */
    background-image: linear-gradient(to right, #7097A8, #ABD1DC,#D3E7EE );
    background-size: cover;
}
.header-image2{
    display: none;
}
.rev{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.prt1row{
    display: flex;
    justify-content: center;
}
@media (max-width: 768px) {
    .header , .prt1, .prt2 , .prt3 {
        /* margin-top: 5%; */
        flex-direction: column;
    }
    .headCol{
        /* margin-top: 30%; */
    }
    .header-image{
        display: none;
    }
    .header-image2{
        display: block;
        width: 50%;
        height: 30%;
    }
  }
