<nav class="navbar navbar-expand-lg">
  <div class="container-fluid nav-container">
    <div class="logo">
      <a class="navbar-brand logo" href="#">Tiatro</a>

      <!-- <button
        class="navbar-toggler custom-btn"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button> -->
    </div>

    <div class="collapse navbar-collapse nav-links" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link button" aria-current="page" routerLink="/">Home</a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link button"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            >Get Started</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link button" routerLink="/about">About us</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle button"
            routerLink="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Languages
            <i class="bi bi-globe"></i>
          </a>
          <ul class="dropdown-menu custom-dropdown">
            <li><a class="dropdown-item" routerLink="#">Arabic</a></li>
            <li><a class="dropdown-item" routerLink="#">English</a></li>
          </ul>
        </li> -->
      </ul>
    </div>
  </div>
</nav>


<div class="ads">
  <p>Register for more offers up to 20%!</p>
</div>
