<div class="homeContainer">
  <app-try></app-try>
@defer (on timer (3000ms)) {

  @if (token) {
  @if(IsAdmin){
  } @else {
    <div class="header-container">
      <app-user-header-links></app-user-header-links>
    </div>
      <app-promotion-events [events]="events"></app-promotion-events>
  <app-categories></app-categories>


<div class="events">
  <app-events></app-events>
</div>
  
<div class="reviews">
  <app-reviews></app-reviews>
</div>
<app-footer></app-footer>


  } } @else {
    <div class="header-container">
      <app-guest-header-links></app-guest-header-links>
    </div>
    <app-promotion-events [events]="events"></app-promotion-events>


<div class="events">
  <app-events></app-events>
</div>
  
<div class="reviews">
  <app-reviews></app-reviews>
</div>
<app-footer></app-footer>

  }


  
  
}@placeholder {

  <app-intro></app-intro>
  } 

</div>