
/* .header-container{
    position: fixed;
    width: 100%;
    z-index: 2000;
} */
.homeContainer{
    background-color: rgb(230,230,230);
}
.events{
    margin-top: 10vh;
}

.reviews{
    margin-top: 10vh;
}