<div id="carouselExampleDark" class="carousel carousel-dark slide feedback" data-bs-interval="2000" >
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 0"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner">
    @for (item of review["reviewsWithImgs"]; track $index) {
    <div class="carousel-item" [class.active]="flag" >
      <img src="data:image/jpg;base64,{{ item.imgBuffer }}"
       class="img d-block m-auto rounded-circle" alt="..." />
      <div class="feedback-content text-center">
        <h1>{{ item.review.username }}</h1>
        <P> {{ item.review.body }}</P>
      </div>
    </div>
    <ng-container *ngIf="toggle()"></ng-container>

    }
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button #next class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  
</div>