
<!--  -->
<div id="carouselExampleAutoplaying" class="carousel slide p-5" data-bs-ride="carousel" data-bs-interval="2000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card mb-3 ">
                        <div class="d-flex align-items-center m-3">
                            <img src="../../assets/Images/profile.png" class=" col-5" alt="Profile Image">
                            <h5 class="card-title text-center col-7">Mokhtar Mostafa</h5>
                        </div>
                        <div class="card-body my-3">
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus maiores cupiditate facere quia fuga, officia quam delectus neque recusandae ipsa perspiciatis dignissimos libero impedit. Repudiandae dolorum ab quam eaque adipisci.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3 ">
                        <div class="d-flex align-items-center m-3">
                            <img src="../../assets/Images/profile.png" class=" col-5" alt="Profile Image">
                            <h5 class="card-title text-center col-7">Mokhtar Mostafa</h5>
                        </div>
                        <div class="card-body my-3">
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus maiores cupiditate facere quia fuga, officia quam delectus neque recusandae ipsa perspiciatis dignissimos libero impedit. Repudiandae dolorum ab quam eaque adipisci.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3 ">
                        <div class="d-flex align-items-center m-3">
                            <img src="../../assets/Images/profile.png" class=" col-5" alt="Profile Image">
                            <h5 class="card-title text-center col-7">Mokhtar Mostafa</h5>
                        </div>
                        <div class="card-body my-3">
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus maiores cupiditate facere quia fuga, officia quam delectus neque recusandae ipsa perspiciatis dignissimos libero impedit. Repudiandae dolorum ab quam eaque adipisci.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item ">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card mb-3 ">
                        <div class="d-flex align-items-center m-3">
                            <img src="../../assets/Images/profile.png" class=" col-5" alt="Profile Image">
                            <h5 class="card-title text-center col-7">Mokhtar Mostafa</h5>
                        </div>
                        <div class="card-body my-3">
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus maiores cupiditate facere quia fuga, officia quam delectus neque recusandae ipsa perspiciatis dignissimos libero impedit. Repudiandae dolorum ab quam eaque adipisci.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3 ">
                        <div class="d-flex align-items-center m-3">
                            <img src="../../assets/Images/profile.png" class=" col-5" alt="Profile Image">
                            <h5 class="card-title text-center col-7">Mokhtar Mostafa</h5>
                        </div>
                        <div class="card-body my-3">
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus maiores cupiditate facere quia fuga, officia quam delectus neque recusandae ipsa perspiciatis dignissimos libero impedit. Repudiandae dolorum ab quam eaque adipisci.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3 ">
                        <div class="d-flex align-items-center m-3">
                            <img src="../../assets/Images/profile.png" class=" col-5" alt="Profile Image">
                            <h5 class="card-title text-center col-7">Mokhtar Mostafa</h5>
                        </div>
                        <div class="card-body my-3">
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus maiores cupiditate facere quia fuga, officia quam delectus neque recusandae ipsa perspiciatis dignissimos libero impedit. Repudiandae dolorum ab quam eaque adipisci.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button> -->
</div>

