<div class="container-fluid p-2 d-flex row justify-content-evenly m-auto mt-5 border border-2 rounded-5 bg-light" style="width: 95%;">
  <button class="button-container pt-3" >
    <div class="circular">
        <img src="../../assets/Images/istockphoto-974238866-612x612.jpg" class="" alt="...">
    </div>
    <p class="fw-bolder text-capitalize">category</p>
  </button>
  <button class="button-container pt-3" >
    <div class="circular">
        <img src="../../assets/Images/istockphoto-974238866-612x612.jpg" class="" alt="...">
    </div>
    <p class="fw-bolder text-capitalize ">category</p>
  </button>
  <button class="button-container pt-3" >
    <div class="circular">
        <img src="../../assets/Images/istockphoto-974238866-612x612.jpg" class="" alt="...">
    </div>
    <p class="fw-bolder text-capitalize ">category</p>
  </button>
  <button class="button-container pt-3" >
    <div class="circular">
        <img src="../../assets/Images/istockphoto-974238866-612x612.jpg" class="" alt="...">
    </div>
    <p class="fw-bolder text-capitalize">category</p>
  </button>
  <button class="button-container pt-3" >
    <div class="circular">
        <img src="../../assets/Images/istockphoto-974238866-612x612.jpg" class="" alt="...">
    </div>
    <p class="fw-bolder text-capitalize ">category</p>
  </button>

<!-- 
<button class="card shadow-lg mx-1 my-3 p-0 border-0 circle-button" >
  <img src="../../assets/Images/istockphoto-974238866-612x612.jpg" class="card-img-top " alt="...">
  <div class="card-body d-flex align-items-center justify-content-center w-100">
    <p class="card-text fw-bolder text-capitalize">category</p>
  </div>
</button><button class="card shadow-lg mx-1 my-3 p-0 border-0 circle-button">
  <img src="../../assets/Images/istockphoto-974238866-612x612.jpg" class="card-img-top " alt="...">
  <div class="card-body d-flex align-items-center justify-content-center w-100">
    <p class="card-text fw-bolder text-capitalize">category</p>
  </div>
</button><button class="card shadow-lg mx-1 my-3 p-0 border-0 circle-button">
  <img src="../../assets/Images/istockphoto-974238866-612x612.jpg" class="card-img-top " alt="...">
  <div class="card-body d-flex align-items-center justify-content-center w-100">
    <p class="card-text fw-bolder text-capitalize">category</p>
  </div>
</button><button class="card shadow-lg mx-1 my-3 p-0 border-0 circle-button">
  <img src="../../assets/Images/istockphoto-974238866-612x612.jpg" class="card-img-top " alt="...">
  <div class="card-body d-flex align-items-center justify-content-center w-100">
    <p class="card-text fw-bolder text-capitalize">category</p>
  </div>
</button> -->
</div>


<!-- VylFSqFQzTuYAsxk -->

<!-- mongodb+srv://mokhtar:VylFSqFQzTuYAsxk@cluster0.8zxcgte.mongodb.net/ -->