<div class="container-fluid p-2 d-flex row justify-content-evenly m-auto mt-5 border border-2 rounded-5 bg-light" style="width: 95%;">
  <button routerLink="event/category/{{sportCategory.innerText}}" class="button-container pt-3" (click)="getCategory(sportCategory.innerText)">
    <div class="circular">
        <img src="../../assets/Images/Categories/Sports.png" class="" alt="...">
    </div>
    <p #sportCategory class="fw-bolder text-capitalize">Sports</p>
  </button>
  <button routerLink="event/category/{{ComedyCategory.innerText}}" class="button-container pt-3" (click)="getCategory(ComedyCategory.innerText)">
    <div class="circular">
        <img src="../../assets/Images/Categories/Comedy.png" class="" alt="...">
    </div>
    <p #ComedyCategory class="fw-bolder text-capitalize ">Comedy</p>
  </button>
  <button routerLink="event/category/{{adventureCategory.innerText}}" class="button-container pt-3" (click)="getCategory(adventureCategory.innerText)">
    <div class="circular">
        <img src="../../assets/Images/Categories/Adventure.png" class="" alt="...">
    </div>
    <p #adventureCategory class="fw-bolder text-capitalize ">Adventure</p>
  </button>
  <button routerLink="event/category/{{dramaCategory.innerText}}" class="button-container pt-3" (click)="getCategory(dramaCategory.innerText)">
    <div class="circular">
        <img src="../../assets/Images/Categories/Drama.png" class="" alt="...">
    </div>
    <p #dramaCategory class="fw-bolder text-capitalize">Drama</p>
  </button>
  <button routerLink="event/category/{{politicalCategory.innerText}}" class="button-container pt-3" (click)="getCategory(politicalCategory.innerText)">
    <div class="circular">
        <img src="../../assets/Images/Categories/Political.png" class="" alt="...">
    </div>
    <p #politicalCategory class="fw-bolder text-capitalize ">Political</p>
  </button>

<!-- 
<button class="card shadow-lg mx-1 my-3 p-0 border-0 circle-button" >
  <img src="../../assets/Images/istockphoto-974238866-612x612.jpg" class="card-img-top " alt="...">
  <div class="card-body d-flex align-items-center justify-content-center w-100">
    <p class="card-text fw-bolder text-capitalize">category</p>
  </div>
</button><button class="card shadow-lg mx-1 my-3 p-0 border-0 circle-button">
  <img src="../../assets/Images/istockphoto-974238866-612x612.jpg" class="card-img-top " alt="...">
  <div class="card-body d-flex align-items-center justify-content-center w-100">
    <p class="card-text fw-bolder text-capitalize">category</p>
  </div>
</button><button class="card shadow-lg mx-1 my-3 p-0 border-0 circle-button">
  <img src="../../assets/Images/istockphoto-974238866-612x612.jpg" class="card-img-top " alt="...">
  <div class="card-body d-flex align-items-center justify-content-center w-100">
    <p class="card-text fw-bolder text-capitalize">category</p>
  </div>
</button><button class="card shadow-lg mx-1 my-3 p-0 border-0 circle-button">
  <img src="../../assets/Images/istockphoto-974238866-612x612.jpg" class="card-img-top " alt="...">
  <div class="card-body d-flex align-items-center justify-content-center w-100">
    <p class="card-text fw-bolder text-capitalize">category</p>
  </div>
</button> -->
</div>


<!-- VylFSqFQzTuYAsxk -->

<!-- mongodb+srv://mokhtar:VylFSqFQzTuYAsxk@cluster0.8zxcgte.mongodb.net/ -->