<div class="container-fluid p-2 d-flex row justify-content-evenly m-auto mt-5 border border-2 rounded-5 bg-light" style="width: 95%;">
  <button routerLink="event/category/Sport" class="button-container pt-3" >
    <div class="circular">
        <img src="../../assets/Images/Categories/Sports.png" class="" alt="...">
    </div>
    <p #sportCategory class="fw-bolder text-capitalize">Sports</p>
  </button>
  <button routerLink="event/category/Entertainment" class="button-container pt-3">
    <div class="circular">
        <img src="../../assets/Images/Categories/Entertainment.png" class="" alt="...">
    </div>
    <p #ComedyCategory class="fw-bolder text-capitalize ">Entertainment</p>
  </button>
  <button routerLink="event/category/Theater" class="button-container pt-3">
    <div class="circular">
        <img src="../../assets/Images/Categories/Theater.png" class="" alt="...">
    </div>
    <p #adventureCategory class="fw-bolder text-capitalize ">Theater</p>
  </button>
  <button routerLink="event/category/Concert" class="button-container pt-3" >
    <div class="circular">
        <img src="../../assets/Images/Categories/Concert.png" class="" alt="...">
    </div>
    <p #dramaCategory class="fw-bolder text-capitalize">Concert</p>
  </button>
  <button routerLink="event/category/Arts" class="button-container pt-3" >
    <div class="circular">
        <img src="../../assets/Images/Categories/Arts.png" class="" alt="...">
    </div>
    <p #politicalCategory class="fw-bolder text-capitalize ">Arts</p>
  </button>

</div>
