@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

.spinner{
  margin: auto;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner-border{
  width: 5vw;
  height: 5vw;
}

.form-group-type{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
.ticket-type{
  margin-left: 2%;
  margin-top: 10px;
  width: 20%;
}
.ticket{
  width: 10%;
  margin-right: 3%;

  margin-top: 10px;
}