@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 15px;
  /* background-color: #FFC244 !important; */
  background-color: rgb(192, 188, 188) !important;
  overflow-x: hidden;
}

.parent {
  background-color: transparent;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
  /* margin: 2vh 0 5vh 0; */
}

.main-header {
  font-size: 1em;
}

/* gender radio buttons */
.form-check-input[type="radio"] {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5em;
}


/* forget password link */
.link {
  color: #00A082;
}

.link:hover {
  color: #065446;
}

p {
  font-weight: 500;
  font-size: 14px;
}

h4 {
  font-weight: 600;
  color: #00A082;
}

h6 span {
  padding: 0 1vw;
  text-transform: uppercase;
  font-weight: 700;
  color: #00A082;
}

.checkbox:checked+label,
.checkbox:not(:checked)+label {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  /* padding: 0; */
  margin: 4vh auto;
  cursor: pointer;
  background-color: white;
}

.checkbox:checked+label:before,
.checkbox:not(:checked)+label:before {
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #ffeba7;
  background-color: #00A082;
  font-family: "unicons";
  content: "\2196";
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}

.checkbox:checked+label:before {
  transform: translateX(44px) rotate(-270deg);

}


/* [type="checkbox"]:checked,
.visibility-controller {
  display: flex !important;
  
}


[type="checkbox"]:checked,
.card-front {
  display: none;
}

[type="checkbox"]:not(:checked),
.visibility-controller {
  display: none;

}

[type="checkbox"]:not(:checked),
.card-front {
  display: flex;
} */


[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {

  position: absolute;
  left: -9999px;
}

.section {
  width: 100%;
  display: block;
  /* background-color: #FFC244; */
}

.mainSection {
  width: 40VW;
  max-width: 450px;
  border-radius: 25px;
  padding-bottom: 15px;
  box-shadow: 0 4px 8px 8px rgba(21, 21, 21, 0.6);
  /* background-color: #FFC244 !important; */
  /* background-color: #2a2b38 !important; */
  /* background-color: #0a0d3f !important; */
  background-color: rgb(192, 188, 188) !important;

}

.card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  min-height: 65vh;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-bottom: 60px;
}

.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transition: all 600ms ease-in;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  /* background-color: #FFC244; */
  /* background-color: #2a2b38 ; */
  /* background-color: #0a0d3f !important; */
  background-color: rgb(192, 188, 188) !important;



  background-blend-mode:difference;
  /* background-blend-mode: color-dodge; */
  /* background-blend-mode:screen; */
  /* background-blend-mode:lighten; */
  /* background-blend-mode: color-burn; */
  
  /* background-blend-mode:overlay; */

  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}


.card-back {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-back .section {
  text-align: center;
  margin: auto;
}

.card-back h4, .card-front h4 {
  margin-top: 5vh;
}

.card-back .form-style {
  height: 40px;
  margin-bottom: 1vh;
  
}

.form-check {
  display: inline-block;
}

.gender-inputs {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin: 2vh 0;
}

.custom-upload {
  width: 70%;
  height: 5vh ;
  /* font-weight: 300; */
  border: 1px solid rgb(95, 93, 93);
  margin: auto 1vw;
}

.custom-upload p {
  font-size: 0.5rem;
  margin: auto;
}

.back-submit-btn {
  margin-top: 2vh;
}

.card-back {
  transform: rotateY(180deg);
}

.checkbox:checked~.card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);

}

.center-wrap {
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}

.form-style {
  padding: 13px 1vw 13px 3vw;
  height: 40px;
  width: 100%;
  font-weight: 500;
  border-radius: 15px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #00A082;
  background-color: white;
  /* background-color: #FFC244; */
  /* background-color: #2a2b38 !important; */

  border: none;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}

.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}

.form-group input::placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  font-size: 0.7rem;
}

.form-group input:focus::placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

/* input[type="radio"] {
  width: 5vw;
  height: 5vh;
} */

.signup-upload {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.upload-svg {
  width: 10%;
}

.upload-btn {
  width: 40%;
  font-size: 0.7em;
}


.btn {
  border-radius: 16px;
  border: 2px solid rgb(206, 195, 195);
  height: 32px;
  width: 100%;
  padding: 0 15px;
  font-size: 1em;
  font-weight: 750;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  color: #00A082;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}



.btn:active,
.btn:focus {
  background-color: #00A082;
  color: white;
}

.btn:hover {
  background-color: #00A082;
  color: white;
}


.border-red{
  border: 2px solid red;
}


.error {
  font-size: 12px;
  color: rgb(122, 3, 3);
}