<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid nav-container">
    <div class="logo">
      <a class="navbar-brand" href="#">Tiatro</a>
    </div>

    <div class="collapse navbar-collapse nav-links" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link button"
            aria-current="page"
            routerLink="/event/allevents"
            >Events</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link button" routerLink="/">Home</a>
        </li>

        <li class="nav-item">
          <a routerLink="/about" class="nav-link button">About</a>
        </li>

        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle button"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Language
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Arabic</a></li>
            <li><a class="dropdown-item" href="#">English</a></li>
          </ul>
        </li> -->
      </ul>
    </div>

    <div class="icon-container">
      <i routerLink="/users/cart" class="bi bi-cart-fill nav-icon">
        @if (cartLength!=0) {
        <span class="badge badgee badge-primary">{{ cartLength }}</span>
        }
      </i>

      <img
        routerLink="/profile"
        class="nav-profile rounded-circle"
        src="data:image/jpg;base64,{{ UserImg }}"
      />
      <i (click)="LogOut()" class="bi bi-box-arrow-right nav-icon"></i>
    </div>

    <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
  </div>
</nav>
