@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

nav {
  background-color: black;
}
.nav-container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
  
}

.logo {
  display: flex;
  justify-content: center;
  width: 25%;
}

.logo a {
  color: #00a97f;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

ul {
  width: 100%;
}

li {
  margin: auto;
}

.icon-container {
  width: 25%;
  display: flex;
  justify-content: center;
}

.nav-icon {
  font-size: 2rem;
  cursor: pointer;
  min-width: fit-content;
}

.nav-profile {
  width: 7vh;
  height: 7vh;
  cursor: pointer;
  margin: 0 10px;
}

i {
  color: #00a97f;
}

.badgee {
  color: white;
  vertical-align: top;
  font-size: 12px;
  background-color: #00a97f;
  border-radius: 50%;
  /* position: absolute;
  right: 0;
  top: 0; */
}

@media screen and (min-width: 200px) and (max-width: 992px) {
  .button {
    width: 20vw;
    min-width: 150px;
    margin: 5px 0;
  }
  nav{
    position: relative;
  }

}
